<p id="notice"><%= notice %></p>
<h2><strong>Dana </strong><%= @uginuce.activity.show_date%></h2>
<h3>
  Uginula je ovca: <%= @uginuce.sheep.code%> <%= @uginuce.sheep.nickname%>
</h3>

<br>
<textarea class="form-control" rows="3" name='comment' readonly='true'  placeholder="Nije bilo zapaznja..."><%= @uginuce.activity.comment %></textarea><br>

<% if not current_user.nil? %>
      <%= link_to 'Izmeni', edit_uginuce_path(@uginuce), class:"btn btn-primary" %>
      <%= link_to 'Izbrisi', @uginuce , method: :delete, data: { confirm: 'Jesi li siguran?' }, class:"btn btn-danger" %>
<% end %>
<%= link_to 'Nazad', uginuces_path, class:"btn btn-default" %>
