<p id="notice"><%= notice %></p>

<p>
  <strong>Sheep:</strong>
  <%= @uginuce.sheep_id %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @uginuce.activity_id %>
</p>

<%= link_to 'Edit', edit_uginuce_path(@uginuce) %> |
<%= link_to 'Back', uginuces_path %>
