<h1>Listing matings</h1>

<table>
  <thead>
    <tr>
      <th>Male</th>
      <th>Price</th>
      <th>Activity</th>
      <th>Sheep</th>
      <th>Comment</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @matings.each do |mating| %>
      <tr>
        <td><%= mating.male_id %></td>
        <td><%= mating.price %></td>
        <td><%= mating.activity_id %></td>
        <td><%= mating.sheep_id %></td>
        <td><%= mating.comment %></td>
        <td><%= link_to 'Show', mating %></td>
        <td><%= link_to 'Edit', edit_mating_path(mating) %></td>
        <td><%= link_to 'Destroy', mating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mating', new_mating_path %>
