<h1 class='page_title'>Prodaje ovaca</h1>
<br>
<table class="table table-hover">
  <thead>
    <tr class='danger'>
      <th class="col-sm-2">Datum</th>
      <th class="col-sm-1">broj ovaca</th>
      <th class="col-sm-1">ukupni prihod</th>
      <th class="col-sm-3">opste zapazanje</th>
      <th class="col-sm-1"></th>
    </tr>
  </thead>

  <tbody>
    <% @s_sellings.each do |sp| %>
      <tr>
        <td><%= sp.show_date %></td>
        <td><strong><%= sp.sheep_sellings.count %></strong></td>
        <td><%= sp.total_costs%></td>
        <td><%= sp.comment %></td>
        <td><%= link_to 'prikazi', '/sheep_sellings/'+sp.id.to_s, class:"btn btn-primary" %></td>
     <!--   <td></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if not current_user.nil? %>
        <%= link_to 'Nova prodaja ovaca', new_sheep_selling_path, class:"btn btn-primary" %>
<% end %>