<h2 class='page_title'>Rodjenje</h2>
<ul>
  <li><strong>Ojagnjena dana</strong> <%= @sheep.born_date_and_place %></li>
  <li><strong>Tezina na rodjenju </strong><%=@sheep.birthweight%>kg</li>
  <li><strong>Majka</strong> <%= @sheep.mother %></li>
  <li><strong>Otac</strong> <%= @sheep.father %></li>
  <li><strong>Opis</strong> <%= @sheep.describe %></li>
</ul>