<%= form_for(@sheep) do |f| %>
  <% if @sheep.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sheep.errors.count, "error") %> prohibited this sheep from being saved:</h2>

      <ul>
      <% @sheep.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="field">
    <%= f.label :nadimak %><br>
    <%= f.text_field :nickname %>
  </div>
  <div class="field">
    <%= f.label :oznaka %><br>
    <%= f.text_field :code %>
  </div>
    <div class="field">
    <%= f.label :procenat_romanov %><br>
    <%= f.text_field :percent_of_r %>%
  </div>
  <div class="field">
    <%= f.label :pol %><br>
    <%= select(:sheep, :sex, ['musko', 'zensko'], selected: @sheep.sex)%>
  </div>
  <div class="field">
    <%= f.label :weight_100_days %><br>
    <%= f.number_field :weight_100_days %>
  </div>
    <div class="field">
    <%= f.label :Opis_ovce %><br>
    <%= f.text_area :describe %>
  </div>
  <div class="actions">
    <%= f.submit :Snimi, class:"btn btn-primary" %>
    <%= link_to 'Nazad', :back, class:"btn btn-default" %>
  </div>
<% end %>
