<h3 class='page_title'>Jagnjenja
  <% if @sheep.lambings.count== 0%>
    <%= 'jos nije bilo'%></h3>
  <% else %>
<%= @sheep.percent_of_lambings %>%</h3>



<table class="table table-hover">
  <thead>
    <tr>
      <th class='col-sm-3'>Datum</th>
      <th class='col-sm-1'>oznaka</th>
      <th class='col-sm-1'>nadimak</th>
      <th class='col-sm-1'>pol</th>
    </tr>
  </thead>

  <tbody>
    <% @sheep.lambings.each do |l| %>
      <tr>
        <td><%= link_to l.activity.show_date, l.lamb%></td>
        <td><%= l.lamb.code %> </td>
        <td><%= l.lamb.nickname %> </td>
        <td><%= l.lamb.sex %> </td>
   </tr>
    <% end %>
  </tbody>
</table>
  <% end %>