  <div class="panel panel-default" id="panel3">
    <div class="panel-heading">
      <h3 class="page_title">
          Jagnjenja
          <% if @sheep.lambings.count== 0%>
             <%= 'jos nije bilo'%>
          <% else %>
            <%=@sheep.number_of_lambings%> - <%= @sheep.percent_of_lambings %>%
          <% end %>
        <a data-toggle="collapse" data-target="#collapse3" href="#collapse3"></a>
      </h3>
    </div>
    <div id="collapse3" class="panel-collapse collapse in">
      <div class="panel-body">
        <% if @sheep.lambings.count > 0%>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class='col-sm-2'>Datum</th>
                  <th class='col-sm-3'>jaganjci</th>
                  <th class='col-sm-1'>kom</th>

                </tr>
              </thead>
            
              <tbody>
                <% @sheep.lambing_activities.each do |l| %>
                  <tr>
                    <td><%=  l.activity.show_date%></td>
                    <td><%= @sheep.lambs_list_from_lambing(l.activity_id)%></td>
                    <td><%= @sheep.lamb_number_from_lambing(l.activity_id) %> </td>
               </tr>
                <% end %>
              </tbody>
            </table>
        <% end %>  
      </div>
    </div>
  </div>
