<h1 class='page_title'>Lista ovaca</h1>
<br>
<table class='table table-hover'>
  <thead>
    <tr class='danger'>
      <th class="col-sm-1">Kod</th>
      <th class="col-sm-1">Nadimak</th>
      <th class="col-sm-1">pol</th>
      <th class="col-sm-1">procenat romanov</th>
      <th class="col-sm-1">procenat jagnjenja</th>
      <th class="col-sm-1">status</th>
      <th class="col-sm-1">poreklo</th>
      <th class="col-sm-2">opis</th>
      <th class="col-sm-1"></th>
    </tr>
  </thead>

  <tbody>
    <% @sheep.each do |sheep| %>
      <tr>
        <td><%= sheep.kod %></td>
        <td><strong><%= sheep.nickname %></strong></td>
        <td><%= sheep.sex %></td>
        <td><%= sheep.percent_of_r %>%</td>
        <td><strong><%= sheep.percent_of_lambings%>%</strong></td>
        <td><%= sheep.status %></td>
        <td><%= sheep.background%></td>
        <td><%= sheep.describe %></td>
        <td><%= link_to 'Prikazi', sheep, class:"btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
