<p id="notice"><%= notice %></p>

      <div class="row">
        <div class="col-md-6">
          <h2>Ovca: <strong class='page_title'><%= @sheep.nickname %></strong>, oznaka: <%= @sheep.code %> </h2>
<h2><strong><%= @sheep.percent_of_r %>%</strong> romanov</h2>
<h3>Status: <%= @sheep.status%></h3>
<p>--------------------------------------------------------<p>
      <div class="row">
        <div class="col-md-5">
          <%= render 'birth'%>
        </div>
        <div class="col-md-6">
          <%= render 'lambings'%>
        </div>
      </div>
        </div>
        <div class="col-md-4  ">
          <%= render 'health'%>
        </div>
      </div>
      


<br><br><br>
<%= link_to 'Izmeni', edit_sheep_path(@sheep), class:"btn btn-primary" %> 
<%= link_to 'Nazad', sheep_index_path, class:"btn btn-default" %>
