<p id="notice"><%= notice %></p>
              
<div class="panel-group" id="accordion">
        <div class="row">
          <div class="col-md-6">
            <%= render 'header'%>
            <%= render 'birth'%>
            <%= render 'purchase'%>
          </div>
          <div class="col-md-6">
            <%= render 'lambings'%>
            <%= render 'health'%>
            <%= render 'death'%>
            <%= render 'selling'%>
          </div>
      </div>
</div>



<br>
<% if not current_user.nil? %>
        <%= link_to 'Izmeni', edit_sheep_path(@sheep), class:"btn btn-primary" %>
<% end %>
<%= link_to 'Preuzmi PDF', '/sheep/'+ @sheep.id.to_s + '.pdf', class:"btn btn-danger" %>

<%= link_to 'Nazad', sheep_index_path, class:"btn btn-default" %>

