<p id="notice"><%= notice %></p>
<%= form_for(@lambing) do |f| %>

  <input type='hidden' name='activity_id'>
  <div class="field activity_header" >
    <strong> Datum</strong> <input type="text" data-behaviour='datepicker' data-format="YYYY/MM/DD" name='date'>
    Izbor ovaca:
    <select  id='lambing_sheeps_selection' name='selected_sheeps[]' class="multiselect mutliselect-primary" data-style="btn-primary" multiple="multiple" size=5 >
      <% @sheeps.each do |s| %>
        <option value=<%= s.code %>><%= s.code %></option>
      <% end %>
    </select>

  </div>
        <div  id="lambings">
            <%= render 'lambings' %>
        </div>
  <br>      
  <textarea class="form-control" rows="3" name='comment' placeholder="Unesi zapazanje proteklih jagnjenja..."></textarea><br>
  <div class="actions">
    <%= f.submit :Snimi, class:"btn btn-primary"%>
    <%= link_to 'Nazad', :back, class:"btn btn-default" %>
  </div>

<% end %>

  
