<p id="notice"><%= notice %></p>
<%= form_for(@lambing) do |f| %>

  <input type='hidden' name='activity_id' value='<%= @activity.id %>'>

  <div class="field activity_header" >
    <strong> Datum</strong> <input type="text" data-behaviour='datepicker' name='date' value='<%= @activity.show_date %>'>
    Izbor ovaca:
    <select  id='sheeps_selection' name='selected_sheeps[]' class="multiselect" data-style="btn-primary" multiple="multiple" >
      <% @sheeps.each do |s| %>
          <% if @activity.sheeps.distinct.include? s %>
            <option value=<%= s.code %> SELECTED><%= s.code %></option>
          <% else %>
            <option value=<%= s.code %>><%= s.code %></option>
          <% end %>
      <% end %>
    </select>
  </div>

  <%= render 'lambingsedit' %>
  <br>
  <textarea class="form-control" rows="3" name='comment' placeholder="Unesi zapazanje proteklih jagnjenja..." ><%= @activity.comment %></textarea><br>
  <div class="actions">
    <%= f.submit :Snimi, class:"btn btn-primary"%>
    <%= link_to 'Back', lambings_path, class:"btn btn-default" %>
  </div>

<% end %>

  
