<div  id="accordion"  >
  <%  @activity.sheeps.distinct.each do |sheep| %>
      <% lamb_num = @activity.lambings.where(sheep_id: sheep.id).count %>
      <table id='sheep_row' class="table table-hover">
        <thead>
          <tr><th><a>Ovca <%= sheep.code%></a> ojagnjila
             <select class='lambNum'>
              <% (1..7).each do |i| %>
                <% if i==lamb_num %>
                   <option value=<%= i %> SELECTED><%= i %></option>
                <% else %>
                   <option value=<%= i %>><%= i %></option>
                <% end %>
              <% end %>
             jagnjadi
          </th><th>pol</th><th>tezina u kg</th><th>ojagnjeno zivo</th><th>napomena</th></tr>
        </thead>
        
        <tbody class='lambing_list'>
          <% (@activity.lambings.where(sheep_id: sheep.id)).each do |lambing| %>
          <tr><td><input type='hidden' name='lambings[][sheep_id]' value='<%= lambing.sheep_id %>'></td>
              <td><select name='lambings[][sex]'><option selected>musko</option><option <% if lambing.lamb.sex=='zensko'%><%= 'SELECTED' %><% end %>>zensko</option></select></td>
              <td><input name='lambings[][weight]' value='<%= lambing.weight%>'/></td>
              <td><input type='checkbox' <%= 'checked' if lambing.is_alive? %> name='lambings[][alive]'></td>
              <td><input name='lambings[][comment]' value='<%= lambing.comment%>'></td></tr>
          <% end %>
        </tbody>
      </table>
  <% end %>
</div>