<h1 class='page_title'>Lista jagnjenja</h1>
<br>
<table class="table table-hover">
  <thead>
    <tr class='danger'>
      <th class="col-sm-2">Datum</th>
      <th class="col-sm-1">Broj ovaca</th>
       <th class="col-sm-2">ovce</th>
      <th class="col-sm-1">broj jagnjadi</th>
      <th class="col-sm-1">zenskih</th>
      <th class="col-sm-3">Opste zapazanje</th>
      <th class="col-sm-1"></th>
    </tr>
  </thead>

  <tbody>
    <% @lambings.each do |lambing| %>
      <tr>
        <td><%= lambing.show_date %></td>
        <td><%= lambing.sheeps.group_by(&:id).count %></td>
        <td><strong><% lambing.sheeps.distinct.each do |s| %>
               <% if s.nickname!= nil %>
                  <%= s.nickname + ', '%>
               <% else %>
                  <%= s.code + ', ' %>       
               <% end %>
            <% end %>
        </strong></td>
        <td><strong><%= lambing.lambs_total %>/<%= lambing.lambs_alive %></strong></td>
        <td><%= lambing.females_total%>/<%= lambing.females_alive%></td>
        <td><%= lambing.comment %></td>
        <td><%= link_to 'prikazi', '/lambings/'+lambing.id.to_s, class:"btn btn-primary" %></td>
       <!-- <td></td>
    -->  </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if not current_user.nil? %>
<%= link_to 'Novo Jagnjenje', new_lambing_path, class:"btn btn-primary" %>
<% end %>