<p id="notice"><%= notice %></p>
<h3>
  <strong>Dana:</strong>
  <%= @activity.show_date %>
  <strong>ojagnjilo se </strong>
  <%= @activity.sheeps.group_by(&:id).count %>
  <strong> ovce </strong>
</h3><br>


    <% @activity.sheeps.distinct.each do |sheep| %>
      <table class="table table-hover">
        <% lamb_num = @activity.lambings.where(sheep_id: sheep.id).count %>
         <thead>
            <tr class='info'>
              <th class="col-sm-2"><%= sheep.code%> ojagnjila <%= lamb_num %> jagnjadi</th>
              <th class="col-sm-1">ojagnjeno zivo</th>
              <th class="col-sm-1">pol</th>
              <th class="col-sm-1">tezina</th>
              <th class="col-sm-3">opis jagnjeta</th>
              <th class="col-sm-3">problemi</th>
            </tr>
          </thead>
         <tbody>
        <% (@activity.lambings.where(sheep_id: sheep.id)).each do |lambing| %>
            <tr>
              <td></td>
              <td><% if lambing.is_alive %><%= 'da'%><% else %><%= 'ne'%><% end %></td>
              <td><%= lambing.lamb.sex %></td>
              <td><%= lambing.weight %></td>
              <td><%= lambing.lamb.describe%></td>
              <td><%= lambing.comment %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>

  <textarea class="form-control" rows="3" readonly='true' placeholder="Nije bilo zapaznja..."><%= @activity.comment %></textarea><br>
  
<%= link_to 'Izmeni', edit_lambing_path(@activity), class:"btn btn-default" %> 
<%= link_to 'Izbrisi', @activity.lambings.first, method: :delete, data: { confirm: 'Jesi li siguran?' }, class:"btn btn-danger" %>
<%= link_to 'Nazad', :back, class:"btn btn-primary" %>