<p id="notice"><%= notice %></p>
  <div class="field activity_header" >
    <h3><strong> Dana</strong> <%=@activity.show_date%>&nbsp; iz mesta <%= @activity.location%></h3>
    <h3>nabavljeno je &nbsp;<%= sheep_many(@activity.sheep_purchases.count)%> . <strong>Ukupni troskovi: </strong><%=@activity.total_costs%> evra</h3>
    <br><br>
  </div>
        <div  id="accordion">
            <table class='table table-hover'>
              <thead>
                <tr class='info'>
                  <th class="col-sm-1">Oznaka</th>
                  <th class="col-sm-1">nadimak</th>
                  <th class="col-sm-1">pol</th>         
                  <th class="col-sm-1">procenat romanov</th>
                  <th class="col-sm-1">cena u evrima</th>
                  <th class="col-sm-2">datum rodjenja</th>
                  <th class="col-sm-1">oznaka oca</th>
                  <th class="col-sm-1">oznaka majke</th>
                  <th class="col-sm-2">opis grla</th>
                  <th class="col-sm-2">napomena</th></tr>
              </thead>
              <tbody class='purchasing_list'>
                <%@activity.sheep_purchases.each do |sp|%>
                        <tr><td><%= sp.sheep.code %></td>
                    <td><%= sp.sheep.nickname %></td>
                    <td><%= sp.sheep.sex%></td>
                    <td><%= sp.sheep.percent_of_r %>%</td>
                    <td><%= sp.price %></td>
                    <td><%= sp.show_date_of_birth %></td>
                    <td><%= sp.father_code %></td>
                    <td><%= sp.mother_code%></td>
                    <td><%= sp.sheep.describe %></td>
                    <td><%= sp.comment %></td></tr>
                <% end %>
              </tbody>
            </table> 
        </div>
  
  <br>      
  <textarea class="form-control" rows="3" name='comment' readonly='true'  placeholder="Nije bilo zapaznja..."><%= @activity.comment %></textarea><br>
<%= link_to 'Izmeni', edit_sheep_purchase_path(@activity), class:"btn btn-default" %>
<%= link_to 'Izbrisi', @activity.sheep_purchases.first, method: :delete, data: { confirm: 'Jesi li siguran?' }, class:"btn btn-danger" %>
<%= link_to 'Nazad', :back, class:"btn btn-primary" %> 
