<%= form_for(@mortality) do |f| %>
  <% if @mortality.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mortality.errors.count, "error") %> prohibited this mortality from being saved:</h2>

      <ul>
      <% @mortality.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <strong> Datum</strong> <input type="text" data-behaviour='datepicker' <%if @mortality.activity!=nil%>value='<%= @mortality.activity.show_date%><% end %>' data-format="YYYY/MM/DD" name='mortality[date]'>

    Ovca:
    <select  id='mortality_sheep_selection' name='mortality[sheep_id]' class="select" style='width: 150px'>
      <% @sheeps.each do |s| %>
          <% if @mortality.sheep!=nil and @mortality.sheep.id==s.id%>
            <option value='<%= s.id %>' SELECTED><%= s.code + s.nickname %></option>
          <% else %>
            <option value='<%= s.id %>'><%= s.code.to_s + ' ' + s.nickname.to_s %></option>
          <% end %>
      <% end %>
    </select>
  <br><br>
  <textarea class="form-control" rows="3" name='mortality[describe]' placeholder="Unesi zapazanje..." ><%= @mortality.describe %></textarea><br>
  
  <div class="actions">
    <%= f.submit :Snimi, class:"btn btn-primary" %>
  </div>
<% end %>
