<h1 class='page_title'>Lista svih aktivnosti</h1>
<br>
<table class="table table-hover">
  <thead>
    <tr class='danger'>
      <th>Tip akivnosti</th>
      <th>Datum</th>
      <th>Ukupni troskovi</th>
      <th>Napomena</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><strong><%= activity.a_type %></strong></td>
        <td><%= activity.show_date %> </td>
        <td><%= activity.total_costs %> </td>
        <td><%= activity.comment %> </td>
        <td><%= link_to 'Show', activity.show_path, class:"btn btn-primary" %> </td>
        <td><%= link_to 'Edit', activity.edit_path, class:"btn btn-default" %> </td>
     <!--   <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
   -->   </tr>
    <% end %>
  </tbody>
</table>

