<h3>Lecenja i zdravstvene zastite <% if @vacinations.count == 0 and @lecenja.count== 0 %> nije bilo </h3>
<% else %></h3>

<table class="table table-hover">
  <thead>
    <tr class='danger'>
      <th class="col-sm-2">Datum</th>
      <th class="col-sm-1">vrsta</th>
      <th class="col-sm-1">razlog</th>
      <th class="col-sm-1">sredstvo</th>
      <th class="col-sm-1">broj grla</th>
      <th class="col-sm-1">troskovi</th>
      <th class="col-sm-3">opste zapazanje</th>

    </tr>
  </thead>

  <tbody>
    <% @vacinations.each do |a| %>
      <tr>
        <td><%= a.show_date %></td>
        <td><%= a.a_type %></td>
        <td><%= a.vacinations.first.reason %></td>
        <td><strong><%= a.vacinations.first.vaccin_name %></strong></td>
        <td><%= a.vacinations.count%></td>
        <td><%= a.total_costs%></td>
        <td><%= a.comment %></td>
      </tr>
    <% end %>
    <% @lecenja.each do |a| %>
      <tr>
        <td><%= a.show_date %></td>
        <td><%= a.a_type %></td>
        <td><%= a.vacinations.first.reason %></td>
        <td><strong><%= a.vacinations.first.vaccin_name %></strong></td>
        <td><%= a.vacinations.count%></td>
        <td><%= a.total_costs%></td>
        <td><%= a.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>