<div class="row">
  <div class="col-md-7">
      <h1 class='page_title'>Izvestaj</h1>
  </div>
  <div class="col-md-5">
      <h3>od <span class='page_red'><%= params[:start_date]%></span> do <span class='page_red'><%= params[:end_date]%></span></h3>
  </div>
</div>
        <%= render 'lambings'%>
        <%= render 'sheepPurchases'%>
        <%= render 'otherPurchases'%>
        <%= render 'vacinations'%>
        <%= render 'sellings'%>
        
<a href='/report.pdf' class='btn btn-confirm'>Preuzmi izvestaj</a>