<%# add navigation links to this file %>
<li><%= link_to 'Ovce', '/sheeplist' %></li>
<li><%= link_to 'aktivnosti', activities_path %></li>
<li><%= link_to 'nabaka ovaca', sheep_purchases_path %></li>
<li><%= link_to 'vakcinacije/lecenja', vacinations_path %></li>
<li><%= link_to 'jagnjenja', lambings_path %></li>
<li><%= link_to 'uginuca', uginuces_path %></li>
<li class="dropdown">
    <a class="dropdown-toggle"
       data-toggle="dropdown"
       href="#">
        Nova aktivnost
        <b class="caret"></b>
      </a>
    <ul class="dropdown-menu">
      <li><%= link_to 'jagnjenje', new_lambing_path %></li>
      <li><%= link_to 'nabavka ovaca', new_sheep_purchase_path %></li>
      <li><%= link_to 'vakcinacija/lecenje', new_vacination_path %></li>
      <li><%= link_to 'uginuce', new_uginuce_path %></li>
    </ul>
</li>